.navbar {
	background-color: #1c1e26;
}

.navbar a {
	color: white;
}

.dropdown .dropbtn {
	color: white;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
	background-color: #fff;
	color: #000;
}

.navbar a.active {
	background-color: white;
}

.dropdown-content {
	background-color: #f9f9f9;
}

.dropdown-content a {
	color: black;
}

.dropdown-content a:hover {
	background-color: #ddd;
}
