body {
	background-color: #1c1e26;
	color: white;
}
a {
	color: white;
}

a.Link {
	color: white;
}

a.Link:hover {
	background-color: white;
	color: black;
}

footer a.Link:hover {
	background-color: white;
	color: black;
}
