.navbar {
	background-color: white;
}

.navbar a {
	color: black;
}

.dropdown .dropbtn {
	color: black;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
	background-color: black;
	color: white;
}

.navbar a.active {
	background-color: black;
	color: white;
}

.dropdown-content {
	background-color: black;
}

.dropdown-content a {
	color: white;
}

.dropdown-content a:hover {
	background-color: rgb(49, 49, 49);
}
