body {
	background-color: white;
	color: black;
}

a {
	color: black;
}

a.Link {
	color: black;
}

a.Link:hover {
	background-color: black;
	color: white;
}

footer a.Link:hover {
	background-color: black;
	color: white;
}
